{% extends 'layout.html.twig' %}

{% block title %}Détails {{ serie.name }}{% endblock %}

{% block body %}

    <section class="serie-details">
        <img src="{{ asset('uploads/posters/series/' ~ serie.poster) }}" alt="{{ serie.name }}">
        <div>
            <h1>{{ serie.name }}</h1>
            <p>
                {{ serie.overview }}
            </p>
        </div>
    </section>

{% endblock %}

