{% extends "layout.html.twig" %}

{% block title %}
    Liste des séries
{% endblock %}

{% block body %}
    <h1>Liste des séries</h1>

    <a href="{{ path('series_new') }}">Ajouter une série</a>

    <section class="series-list">
        {% for serie in series %}
            <article>
                <a href="{{ path('series_detail', {'id': serie.id}) }}">
                    <img src="{{ asset('uploads/posters/series/' ~ serie.poster) }}" alt="{{ serie.name }}">
                    {{ serie.name }} ({{ serie.firstAirDate|date('d/m/Y') }})
                </a>
            </article>
        {% endfor %}
    </section>

{% endblock %}


