{% extends "layout.html.twig" %}

{% block title %}
    Liste des séries
{% endblock %}

{% block body %}
    <h1>Liste des séries</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('series_new') }}">Ajouter une série</a>
        <a href="{{ path('season_create') }}">Ajouter une saison</a>
    {% endif %}

    <section class="series-list">
        {% for serie in series %}
            <article>
                <a href="{{ path('series_detail', {'id': serie.id}) }}">
                    <img src="{{ asset('uploads/posters/series/' ~ serie.poster) }}" alt="{{ serie.name }}" loading="lazy">
                    {{ serie.name }} ({{ serie.firstAirDate|date('d/m/Y') }})
                    {{ serie.seasons|length }}
                </a>
            </article>
        {% endfor %}
    </section>

{% endblock %}


